html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -moz-osx-font-smoothing: grayscale;
}
body{
	margin:0;
	padding:0;
	width:100vw;
	overflow-x: hidden;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
a:visited {
   outline: 0!important;
  }




#topborder{
	border-top:2px solid rgba(0,0,0,0.2); ;
}



#langstick{
	opacity: 0;
	width: 35px;
	overflow: hidden;
	background-color: white;
	text-align: center;	
	animation-duration: .3s;
	animation-fill-mode: forwards;
}
@keyframes langside{
	from{opacity: 0;}
	to{opacity: 1;}
}

#langstick a{
	display: block;
	text-decoration: none;
	color:rgba(0,0,0,0.5);
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
font-weight: 300;
font-size: 15px;
transition: all .6s;
}
#langstick :hover{
	background-color: #351f25;
	color:white;
}




/*-----------------------------------fadein onload----------------------*/
@keyframes fadein{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.fadeinc{
	animation-name: fadein;
	animation-duration: 1s;
}






/*--------------------logo-------------------*/
#unlogo{
	float:right;
}
#unlogo h1{
	display: inline;
	color:black;
	font-size: 20px;
}
.highlight{
	color:#351f25!important;
}






#wrapper{
content:'';
display: table;
	width: 66%;
	margin: 3rem auto;
	border:2px solid rgba(0,0,0,0.1) ;
}

#wrapperinner{
width: 86%;
margin: 6% auto;
}


/*----------ghosted---------------------*/
#ghosted1{
	width: 10%;
height: 3px;
margin: 0;
    margin-top: 0px;
margin-top: 0px;
padding: 0;
border-top: 2px solid rgba(0,0,0,0.1);
margin-top: -10px;
float: left;
}

#ghosted2{
	width: 10%;
height: 3px;
margin: 0;
    margin-top: 0px;
margin-top: 0px;
padding: 0;
border-top: 2px solid rgba(0,0,0,0.1);
margin-top: -10px;
float: right;
}



/*-----------------------------------------------------------------------index---------------------------------------------*/


#langattr{
	width: 20vw;
	position: absolute;
	background-color: #fff;
	text-align: center;
	min-height:70px;
	border:1px solid #351f25;
	animation-duration: 2s!important;
	animation-fill-mode: forwards;	
	left:40vw;		
	transition: all 1s;	
	opacity: 0;
}

#langattr h2{
	display:inline;
	border-top: none;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
font-weight: 300;
line-height: 2em;
font-size: 19px;
color: rgba(0,0,0,.5);
margin-left: 30px;
padding: 5px 13px;
transition: all .6s;
}
#langattr #engl{
	margin-left: 0;
}
#langattr h2:hover{
	background-color: #351f25;
	color:white;
	cursor: default;
}

#langattr a{
	text-decoration:none;
	color:rgba(0,0,0,.5);
}
#langattr a:hover{
	color:white;
	cursor: default;
}

@keyframes appearla{

from{
	opacity: 0;
    top:-200px;
}
to{
	opacity: 1;
    top:100px;
}

}

@keyframes disla{
0%{
	top:100px;    
}

100%{
	top:-200px;
}	
}


/*-----------------------------------slideshow-----------------------------*/


.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}












/*-----------------------------------------------------------------------------editable content----------------------------*/

/*---------------------------------------------header-----------------------------------------*/



#logo{
	width: 12%;
	margin:0 auto;
	margin-bottom: 0.7rem;

}
#logo img{
	width: 100%;
}

#logobox{
display: flex;
justify-content: space-between;
width: 100%;

}


#logobox p{
	width: 33.3333%;

text-align: center;

margin: 0;

font-family: 'Pragati Narrow', sans-serif;
font-weight: 700;
line-height: 2em;
font-size: 15px;
text-transform: uppercase;
letter-spacing: 3px;
color:rgba(0,0,0,.2);
}
#logobox #address1{
	text-align: left;	
}
#logobox #address3{
	text-align:right;	
}




/*----------------------nav--------------------------*/
#menu a{
text-decoration: none;
color:rgba(0,0,0,.5);
}



#menu{
	width: 100%;

}
#menu ul{
	text-align: center;
	margin: 0;
	margin-top: 2rem;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}
#menu ul{
color:rgba(0,0,0,.3);
}


#menu li{
	display: inline-block;
	padding: 3px 10px;
	margin: 0 2rem;
	font-family: Lato;
font-weight: 400;
font-style: normal;
font-size: 11px;
text-transform: uppercase;
letter-spacing: 4px;
color:rgba(0,0,0,.5);
}
#menu a{
	padding-bottom: 1px;
}
#menu a:hover{
	color:black!important;
	border-bottom:2px solid rgba(0,0,0,.1);	
}
#active{
	color:black!important;
	border-bottom:2px solid rgba(0,0,0,.1);
}












/*-------------------------------------------------------------------------main---------------------------*/

#banner{
	width: 100%;
	
	margin-top:3rem;
	margin-bottom: 1.5rem;
}
#banner img{
	width: 100%;
}



#slides{
	width: 100%;
	height:auto ;

}
.mySlides{
	width: 100%;

}







/*--------------------------id content---------------------*/

#content{
	width: 100%;
	text-align: center;

}
#content ol{
	max-width: 80%;
	margin:0 auto;
	margin-top: 10px;
	margin-bottom: 35px;
	list-style-position: inside;
}
#content h1{
	font-family: 'Pragati Narrow', sans-serif;
	color:rgba(0,0,0,0.85);
	text-transform: uppercase;
	font-size: 18px;
letter-spacing: 1.5px;
margin-top: 7px;
margin-bottom: 20px;
}

#content p,#content li{

	font-family: 'Pragati Narrow', sans-serif;
font-weight: 500;
font-size: 14px;
letter-spacing: 0;
line-height: 35px;
color:rgba(0,0,0,.6);
}





/*------------------------------------footer--------------------------------------------*/

footer{
	border-top:2px solid rgba(0,0,0,0.2);
	margin-top: 60px;
	padding-top: 20px;
	margin-bottom: -15px;
}
footer h2{
	display: inline;
	font-family: 'Pragati Narrow', sans-serif;
font-weight: 500;
font-size: 15px;
letter-spacing: 0.8px;
color:rgba(0,0,0,.6);
text-transform: uppercase;
}

#unlogo span{
	font-family: 'Pragati Narrow', sans-serif;
	color:rgba(0,0,0,.6);
text-transform: uppercase;
letter-spacing: 0.8px;
font-weight: 500;
}

#unlogo h1{
	font-size: 15px;
}






/*-----------------------------------------------------------------------contacts---------------------------------------------*/
#mc{
	margin-top: 30px;
	margin-bottom: 20px;
	overflow: hidden;
}
#text{
	float:left;
	width: 50%;
}
#text h1{
	font-size: 38.5px;
	font-family: 'Helvetica',sans-serif;
	color:#262626;
	margin-bottom: 19px;
}
#text p,
#forma label{
	font-size: 11px;
	font-family:Lato; 
	color:#5c5c5c;
	font-weight: 400;
	display: inline;

}
#text strong {
	font-size: 11px;
	font-family:Lato; 
	color:#5c5c5c;
	font-weight: 600;
	display: inline;
	letter-spacing: 0.6px;
}

.spacep{
	margin-bottom: 20px;
	max-width: 60%;
}
.contactitems{
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
}


#forma label{
	margin-bottom: 4px;
}
#forma{
	float: right;
	width: 50%;
}
#named{
	padding-right:10px;
	width: 50%!important;
	float: left;
	margin: 0;
}

#surnamed{
	width: 50%!important;
	float: right;
	margin: 0;
}


#forma input{
	width: 100%;
	height: 40px;
	border-color:rgba(0,0,0,0.2);
	border-width: 1px;
	box-shadow: none;
	margin-bottom: 20px;
	padding-left: 10px;
}
#forma textarea{
	width: 100%;
	border-color:rgba(0,0,0,0.2);
	border-width: 1px;
	box-shadow: none;
}
#named #name {
	margin-bottom: 0;
}
#surnamed #surname {
	margin-bottom: 0;
}
#emailed{
	margin-top: 20px;
	overflow: hidden;
}
#btnsubmit{
	display: inline-block;
	font-family: 'lato';
	font-size: 14px;
	color:#272727;
	border:2px solid #272727;
	font-weight: 400;
	text-transform: uppercase;
	background-color: transparent;
	width: auto;
	height: auto;
	padding:14px 35px;
margin-top: 50px;
transition: all .2s ease-in-out;
}
#btnsubmit:hover{
	background-color: #272727;
	color:rgba(255,255,255,1);
}





/*-----------------------------------------------------------------------Expert---------------------------------------------*/
#expertnb{
	overflow: hidden;
	margin-top: 75px;
	margin-bottom: 15px;
}
#expertimg{
	width: 50%;
	position: relative;
	height:700px;
	float:left;
}
#expertimg img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#experttext{
	width: 50%;
	float:right;
	padding-left: 30px;
	padding-right: 5px;
}
#experttext #hmargin{
	color:#262626;
	margin-top: 50px;
	text-transform: none;
}
#experttext h1{
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	color:#5c5c5c;
	font-size:18.3px;
	font-family:'Pragati Narrow', sans-serif; 
}
#experttext p,
#experttext ul li{
	line-height: 20px;
	color:#5c5c5c;
	font-family:'Lato',sans-serif ;
	font-size:14px; 
	font-weight:400;
	padding-top: 15px;
	list-style-position: inside;
}
#certs{
	width:100%;
	text-align: center;
	margin-top: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	
}
#certs img{
	max-width:24%;	
	margin:0 20px;
	padding-top: 17px; 
	transition: all .5s;
}
#certs h1{
	font-family: 'Lato',sans-serif;
	color:rgba(0,0,0,0.3);
}
#certs img:hover{

	-webkit-transform: scale(2) translate(-30px,-30px);
	-ms-transform: scale(2) translate(-30px,-30px);
	-o-transform: scale(2) translate(-30px,-30px);
	transform: scale(2) translate(-30px,-30px);

}

#diplomas{
	text-align: end;padding-top:15px;
}
#ched{
text-align: left;
}

/*-----------------------------------------------------------------about-------------------------------------------------*/

#aboutcontent{
	border:20px solid white;
}
#topbar h2{
	float:left;	
}
#centered{
	margin-top: 60px;
text-align: center;
letter-spacing: 0.4px;
margin-bottom: 60px;
}
#topbar img{
	float:right;
}
#aboutcontent h2{
font-family: 'Lato',sans-serif;
font-size: 19px;
color:#222222;	
}
#aboutcontent p,
#aboutcontent li{
font-family: 'Lato',sans-serif;
font-size: 15px;
color:#222222;	
margin:20px 0;
border-bottom: 1px solid #222222;
padding-bottom: 20px;
margin-bottom: 40px;
text-overflow: ellipsis;
line-height: 21px;
}
.uniq{
	color:red;
}
#aboutcontent ul,
#aboutcontent ul li
{
border: none;
}
#aboutcontent ul{
	direction: rtl;
	text-align:left; 
	list-style: none;
}
#aboutcontent li{
margin:5px 0;
padding-bottom: 10px;
margin-bottom: 15px;	
list-style:none;
}

#bnone{
	border-bottom: none!important;
}
#centeredp{
text-align: left;
letter-spacing: 0.4px;
font-family: 'Lato',sans-serif;
font-size: 15px;
color:#5c5c5c;	
max-width: 70%;
text-align:center;
margin:30px auto;
line-height: 25px;
}


#brands img{
	width: 25%;
	height:150px;
	float:left;
}
#brands{
	border:20px solid transparent;
		overflow: hidden;
}




#gallerymodal{
	width: 100vw;
	height:100vh;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	display: none;	
	transition:all .4s ease;
}



#gallerymodal img{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	max-width:30%;
}
.mySlides{
	animation-name: msfin;
	animation-duration: .6s;
}
@keyframes msfin{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

/*----------------------------------------close X --------------------*/
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}







#g button{
	position: absolute;
	bottom: 15px;
}
#leftbtng{
position: absolute;
	top:50%;
	left:3%;
	width:35px;
    height:38px;
    background-color: rgba(0,0,0,0.3);
color:white;
	border:none;
	border-radius: 70px;
	font-size: 20px;

}
#leftbtng:hover{
	background-color: rgba(255,255,255,0.9);
	color:#5c5c5c;
}

#rightbtng{
position: absolute;
right:3%;
top:50%;
width:35px;
height:38px;
  background-color: rgba(0,0,0,0.3);
color:white;
border:none;
border-radius: 70px;
font-size: 20px;
}
#rightbtng:hover{
	background-color: rgba(255,255,255,0.9);
	color:#5c5c5c;
}

.mwe{
	min-width:800px;
}
#leftbtng:focus,
#rightbtng:focus{
	outline:none;
}




/*-----------------------------------------------------------------------services---------------------------------------------*/

#aboutcontent strong{
	float: right;
	font-family: 'Lato',sans-serif;
font-size: 19px;
color:#222222;	
}

#servicecontent{
border:20px solid white;
overflow: hidden;
}
#servicecontent h2{
	font-family: 'Lato',sans-serif;
font-size: 19px;
color:#222222;	
}

#promoboxes {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin:30px 0;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 50%;
  height: 300px;
    perspective: ; /* Remove this if you don't want the 3D effect */
}
.flip-card img{
	padding:7px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color:rgba(255,255,255,0.9) ;
  border:2px solid #351f25;
  transform: rotateY(180deg);  
  padding:10px 20px;  
}
.flip-card-back h3{
	display: block;
	font-family: 'Lato',sans-serif;
	font-size: 19px;
	color:#222222;
	margin-bottom: 20px;
}
.flip-card-back p{
	font-family: 'Lato',sans-serif;
	font-size: 15px;
	color:#222222;
}













#box1paragraph{
	width:70vw;
	height: 60vh;
	background-color: #fff;
	border:2px solid #262626;
	border-radius: 30px;
	position: absolute;
	top:-1000px;
	left:-1000px;
	animation-duration: 1s;
}

@keyframes sslidelr{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
		transform: translate(1400px,1010px);
		
	}
}






















































/*-----------------------------------------media--------------------------------------*/


@media(max-width:1600px){
	#wrapper{
		width: 80%;
	}

	#expertimg img{
		height: 700px;
	}
}


@media(max-width: 1440px){
#wrapper{
	width: 88%;
}	
#btnsubmit{
	margin-top: 20px;
}
#longpser2{
	font-size: 14px;
}
#aboutcontent p{
	font-size: 13px;
}
#certs{
	margin-top: 40px;
}
.unbtnsubmit{
	margin-top: 70px!important;
}
}


@media(max-width: 1366px){
#certs img{
	margin: 0 18px;
}
#certs{
	margin-top: 50px;
}
#ghosted1,#ghosted2{
	width: 7%;
}
}



@media(max-width: 1280px){
#certs img{
	margin: 0 15px;
}
#certs{
	margin-top: 40px;
}

}
@media(max-width: 1112px){
#diplomas{
	padding-top:0;
}	
}















/*tricky part,,,,delete if the rest will crash-----------------*/

@media (max-width: 1024px) {
	#wrapper{
		width: 94%;
	}
	#menu li{
		margin:0 1.6rem;
	}
    #ghosted1, #ghosted2 {
    width: 4%;
}
#aboutcontent p{
	font-size: 15px;
}
#aboutcontent strong{
	display: block;
	float: none;
	margin-top: 10px;
}
#expertnb{
	display: flex;
flex-direction: column;
text-align: center;
}
#expertimg{
	width: 60%;
	margin: 0 auto 30px	;
}
#experttext {
    width: 100%;
    float: none;
}

#diplomas{
	text-align: center;
	margin-bottom: 30px;
}
#ched{
margin: 0 auto;
}

#rightbtng{
	right: 3%;
}
#langattr h2:active{
background-color: #351f25;
color: white;
}
#langstick:active{
	background-color: #351f25;
color: white;
}
#content li{
	font-size: 15px;
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

#longpser1,#longpser2{
	font-size: 12px;
}

#certs img:active {
    -webkit-transform: scale(2) translate(0,-30px);
    -ms-transform: scale(2) translate(0,-30px);
    -o-transform: scale(2) translate(0,-30px);
    transform: scale(2) translate(0,-30px);
}
.close:active {
    opacity: 1;
}
#rightbtng:active {
    background-color: rgba(255,255,255,0.9);
    color: #5c5c5c;
}
#leftbtng:active {
    background-color: rgba(255,255,255,0.9);
    color: #5c5c5c;
}
#btnsubmit:active {
    background-color: #272727;
    color: rgba(255,255,255,1);
}

#active:active {
    color: black !important;
    border-bottom: 2px solid rgba(0,0,0,.1);
}

}
/*tricky part^^^^^^delete if the rest will crash^^^^^^^^^^^^^^^^^^^^^^*/






@media(max-width: 896px) and (max-height:414px){
#active:active {
    color: black !important;
    border-bottom: 2px solid rgba(0,0,0,.1);
}


.flip-card {
    background-color: transparent;
    width: 80%;
    height: 400px;
    perspective: ;
    margin: 0 auto 20px;
}
.flip-card-back{
	padding-top: 70px;
}

#aboutcontent p{
	font-size: 15px;
}
#aboutcontent strong{
	display: block;
	float: none;
	margin-top: 10px;
}
#expertnb{
	display: flex;
flex-direction: column;
text-align: center;
margin-top: 40px;
}
#expertimg{
	width: 60%;
	margin: 0 auto 10px;
	height: 600px;
}
#expertimg img{
	height: 600px;
}
#experttext {
    width: 100%;
    float: none;
}

#diplomas{
	text-align: center;
	margin-bottom: 30px;
}
#ched{
margin: 0 auto;
}

#rightbtng{
	right: 3%;
}
#langattr h2:active{
background-color: #351f25;
color: white;
}
#langstick:active{
	background-color: #351f25;
color: white;
}
#content li{
	font-size: 15px;
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

#longpser1,#longpser2{
	font-size: 15px;
}

#certs img:active {
    -webkit-transform: scale(2) translate(0,-30px);
    -ms-transform: scale(2) translate(0,-30px);
    -o-transform: scale(2) translate(0,-30px);
    transform: scale(2) translate(0,-30px);
}
.close:active {
    opacity: 1;
}
#rightbtng:active {
    background-color: rgba(255,255,255,0.9);
    color: #5c5c5c;
}
#leftbtng:active {
    background-color: rgba(255,255,255,0.9);
    color: #5c5c5c;
}
#btnsubmit:active {
    background-color: #272727;
    color: rgba(255,255,255,1);
}


#menu li {
    margin: 0 1.2rem;
}

.unbtnsubmit{
	margin-top: 105px!important;
}


}
















@media(max-width: 834px) and (max-height:1112px){
#active:active {
    color: black !important;
    border-bottom: 2px solid rgba(0,0,0,.1);
}

	#wrapper{
		width: 94%;
	}
	#menu li{
		margin:0 0.7rem;
	}
    #ghosted1, #ghosted2 {
    width: 3%;
}
.flip-card {
    background-color: transparent;
    width: 80%;
    height: 400px;
    perspective: ;
    margin: 0 auto 20px;
}
.flip-card-back{
	padding-top: 70px;
}

#aboutcontent p{
	font-size: 15px;
}
#aboutcontent strong{
	display: block;
	float: none;
	margin-top: 10px;
}
#expertnb{
	display: flex;
flex-direction: column;
text-align: center;
margin-top: 40px;
}
#expertimg{
	width: 60%;
	margin: 0 auto 10px;
	height: 600px;
}
#expertimg img{
	height: 600px;
}
#experttext {
    width: 100%;
    float: none;
}

#diplomas{
	text-align: center;
	margin-bottom: 30px;
}
#ched{
margin: 0 auto;
}

#rightbtng{
	right: 3%;
}
#langattr h2:active{
background-color: #351f25;
color: white;
}
#langstick:active{
	background-color: #351f25;
color: white;
}
#content li{
	font-size: 15px;
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

#longpser1,#longpser2{
	font-size: 15px;
}

#certs img:active {
    -webkit-transform: scale(2) translate(0,-30px);
    -ms-transform: scale(2) translate(0,-30px);
    -o-transform: scale(2) translate(0,-30px);
    transform: scale(2) translate(0,-30px);
lose:active {
    opacity: 1;
}
#rightbtng:active {
    background-color: rgba(255,255,255,0.9);
    color: #5c5c5c;
}
#leftbtng:active {
    background-color: rgba(255,255,255,0.9);
    color: #5c5c5c;
}
#btnsubmit:active {
    background-color: #272727;
    color: rgba(255,255,255,1);
}



}




@media (max-width: 812px) and (max-height: 375px){
#wrapper{
	margin: 1rem auto;
}

#logobox p{
	font-size: 14px;
}
#certs img:active {
    -webkit-transform: scale(1.5) translate(0,-30px);
    -ms-transform: scale(1.5) translate(0,-30px);
    -o-transform: scale(1.5) translate(0,-30px);
    transform: scale(1.5) translate(0,-30px);
}

}




















@media (max-width: 800px) and (max-height:1280px){

#logobox{
	flex-direction: column;
}
#logobox p{
	width: 100%;
	text-align: center!important;
}
#banner{
	margin-top: 1rem;
}


#active:active {
    color: black !important;
    border-bottom: 2px solid rgba(0,0,0,.1);
}

	#wrapper{
		width: 94%;
	}
	#menu li{
		margin:0 0.5rem;
	}
    #ghosted1, #ghosted2 {
    width: 3%;
}
.flip-card {
    background-color: transparent;
    width: 70%;
    height: 300px;
    perspective: ;
    margin: 0 auto 10px;
}
.flip-card-back{
	padding-top: 10px;
}
#promoboxes{
	margin: 0;
	margin-top: 20px;
}

#aboutcontent p{
	font-size: 15px;
	margin-bottom: 20px;
}
#aboutcontent strong{
	display: block;
	float: none;
	margin-top: 10px;
}
#aboutcontent li{
	margin-bottom: 7px;
}
#expertnb{
	display: flex;
flex-direction: column;
text-align: center;
margin-top: 40px;
}
#expertimg{
	width: 55%;
	margin: 0 auto 10px;
	height: 500px;
}
#expertimg img{
	height: 500px;
}
#experttext {
    width: 100%;
    float: none;
}
#centeredp{
	max-width: 90%;
	margin:15px auto;
}

#diplomas{
	text-align: center;
	margin-bottom: 30px;
}
#ched{
margin: 0 auto;
}

#rightbtng{
	right: 3%;
}
#langattr h2:active{
background-color: #351f25;
color: white;
}
#langstick:active{
	background-color: #351f25;
color: white;
}
#content li{
	font-size: 15px;
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

#longpser1,#longpser2{
	font-size: 13px;
}

#certs img:active {
    -webkit-transform: scale(2) translate(-30px,-30px);
    -ms-transform: scale(2) translate(-30px,-30px);
    -o-transform: scale(2) translate(-30px,-30px);
    transform: scale(2) translate(-30px,-30px);
}
.close:active {
    opacity: 1;
}
#rightbtng:active {
    background-color: rgba(255,255,255,0.9);
    color: #5c5c5c;
}
#leftbtng:active {
    background-color: rgba(255,255,255,0.9);
    color: #5c5c5c;
}
#btnsubmit:active {
    background-color: #272727;
    color: rgba(255,255,255,1);
}
.unbtnsubmit{
	margin-top: 75px!important;
}
.spacep{
	max-width: 80%;
}
#langattr a{
	margin-left: -30px;	
}
}


















@media (max-width: 768px) {
#logobox{
	flex-direction: column;
}
#logobox p{
	width: 100%;
	text-align: center!important;
}
#banner{
	margin-top: 1rem;
}


#active:active {
    color: black !important;
    border-bottom: 2px solid rgba(0,0,0,.1);
}

	#wrapper{
		width: 94%;
		margin: 1.5rem auto;
	}
	#menu li{
		margin:0 0.4rem;
	}
    #ghosted1, #ghosted2 {
    width: 3%;
}
.flip-card {
    background-color: transparent;
    width: 70%;
    height: 300px;
    perspective: ;
    margin: 0 auto 10px;
}
.flip-card-back{
	padding-top: 10px;
}
#promoboxes{
	margin: 0;
	margin-top: 20px;
}

#aboutcontent p{
	font-size: 15px;
	margin-bottom: 20px;
}
#aboutcontent strong{
	display: block;
	float: none;
	margin-top: 10px;
}
#aboutcontent li{
	margin-bottom: 7px;
}
#expertnb{
	display: flex;
flex-direction: column;
text-align: center;
margin-top: 40px;
}
#expertimg{
	width: 55%;
	margin: 0 auto 10px;
	height: 500px;
}
#expertimg img{
	height: 500px;
}
#experttext {
    width: 100%;
    float: none;
}
#centeredp{
	max-width: 90%;
	margin:15px auto;
}

#diplomas{
	text-align: center;
	margin-bottom: 30px;
}
#ched{
margin: 0 auto;
}

#rightbtng{
	right: 3%;
}
#langattr h2:active{
background-color: #351f25;
color: white;
}
#langstick:active{
	background-color: #351f25;
color: white;
}
#content li{
	font-size: 15px;
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

#longpser1,#longpser2{
	font-size: 13px;
}

#certs img:active {
    -webkit-transform: scale(2) translate(0,-30px);
    -ms-transform: scale(2) translate(0,-30px);
    -o-transform: scale(2) translate(0,-30px);
    transform: scale(2) translate(0,-30px);
}
.close:active {
    opacity: 1;
}
#rightbtng:active {
    background-color: rgba(255,255,255,0.9);
    color: #5c5c5c;
}
#leftbtng:active {
    background-color: rgba(255,255,255,0.9);
    color: #5c5c5c;
}
#btnsubmit:active {
    background-color: #272727;
    color: rgba(255,255,255,1);
}
.unbtnsubmit{
	margin-top: 75px!important;
}
.spacep{
	max-width: 80%;
}
#langattr a{
	margin-left: -30px;	
}
.mwe{
	min-width: 500px;
}
#gallerymodal img{
	max-width: 80%;
}
}



















@media (max-width: 740px) and (max-height:360px){
	#menu li{
		margin:0;
	}
	.unbtnsubmit{
		margin-top: 110px!important;
	}
#certs img:active {
    -webkit-transform: scale(1.5) translate(0,-30px);
    -ms-transform: scale(1.5) translate(0,-30px);
    -o-transform: scale(1.5) translate(0,-30px);
    transform: scale(1.5) translate(0,-30px);
}
.flip-card-back{
	display: table;
	overflow: hidden;
}

}




























@media (max-width:736px) and (max-height:414px){
#wrapper{
	margin: 1rem auto;
}
#menu li{
	margin:0 0.5rem;
}
.flip-card-back{
	display: table;
	overflow: hidden;
}
.unbtnsubmit{
	margin-top: 105px!important;
}
#certs img:active {
    -webkit-transform: scale(1.5) translate(0,-30px);
    -ms-transform: scale(1.5) translate(0,-30px);
    -o-transform: scale(1.5) translate(0,-30px);
    transform: scale(1.5) translate(0,-30px);
}
}
















@media (max-width: 667px) and (max-height: 375px){
#wrapper{
	margin: 1rem auto;
}
	#menu li{
		margin: 0 0;
	}
.flip-card{
	margin:0 auto 50px;
}
#expertimg,#expertimg img{
	height: 400px;
}
#experttext{
	padding: 0;
}
#certs img:active {
    -webkit-transform: scale(1.5) translate(0,-30px);
    -ms-transform: scale(1.5) translate(0,-30px);
    -o-transform: scale(1.5) translate(0,-30px);
    transform: scale(1.5) translate(0,-30px);
}
}





























@media(max-width:414px){
#wrapperinner{
	width: 96%;
}
#ghosted1, #ghosted2 {
    width: 10%!important;
    margin-top: -115px;
}

#menu ul{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
#menu li{
	display: block;
	margin-bottom: 4px;
}
#menu li a{
	font-size: 13px;
}

#content li{
	margin-bottom: 17px;
}
#unlogo{
	float: none;
}
#unlogo h1{
	display: block;
}
#logobox{
	flex-direction: column;
}
#logobox p{
	width: 100%;
	text-align: center!important;
}
#banner{
	margin-top: 1rem;
}


#active:active {
    color: black !important;
    border-bottom: 2px solid rgba(0,0,0,.1);
}

	#wrapper{
		width: 94%;
		margin:1rem auto;
	}
	#menu li{
		margin:0 0.8rem;
	}
    #ghosted1, #ghosted2 {
    width: 3%;
}


#content ol{
	max-width: 100%;
}
footer{
	margin-top: 5px;
text-align: center;

}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 300px;
    perspective: ;
    margin: 0 auto 10px;
}
.flip-card-back{
	padding-top: 5px;
}
.flip-card-back p{
	font-size: 12px;
}
#promoboxes{
	margin: 0;
	margin-top: 20px;
}

#aboutcontent p{
	font-size: 15px;
	margin-bottom: 20px;
}
#aboutcontent strong{
	display: block;
	float: none;
	margin-top: 10px;
}
#aboutcontent li{
	margin-bottom: 7px;
}
#expertnb{
	display: flex;
flex-direction: column;
text-align: center;
margin-top: 5px;
}
#expertimg{
	width: 80%;
	margin: 0 auto 10px;
	height: 400px;
}
#expertimg img{
	height: 400px;
}
#experttext {
    width: 100%;
    float: none;
    padding: 0 5px;
}
#centeredp{
	max-width: 90%;
	margin:15px auto;
}

#diplomas{
	text-align: center;
	margin-bottom: 30px;
}
#ched{
margin: 0 auto;
}

#rightbtng{
	right: 3%;
}
#langattr{
	width: 25vw;
}
#langattr h2:active{
background-color: #351f25;
color: white;
}
#langstick:active{
	background-color: #351f25;
color: white;
}
#content li{
	font-size: 15px;
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

#longpser1,#longpser2{
	font-size: 12px;
}
#longgpser2{
	font-size: 12px;
}
.clongpser2{
	margin-top: 10px!important;
}

#certs img:active {
    -webkit-transform: scale(2) translate(0,-30px);
    -ms-transform: scale(2) translate(0,-30px);
    -o-transform: scale(2) translate(0,-30px);
    transform: scale(2) translate(0,-30px);
}
.close:active {
    opacity: 1;
}
#rightbtng:active {
    background-color: rgba(255,255,255,0.9);
    color: #5c5c5c;
}
#leftbtng:active {
    background-color: rgba(255,255,255,0.9);
    color: #5c5c5c;
}
#btnsubmit:active {
    background-color: #272727;
    color: rgba(255,255,255,1);
}
.unbtnsubmit{
	margin-top: 75px!important;
}
.spacep{
	max-width: 80%;
}
#langattr a{
	margin-left: -30px;	
}
#certs img{
	max-width:25%;
	margin-bottom: 20px;
}
#ched{
	margin-bottom: 30px;
}
#brands{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
#brands img{
	width: 50%;
}
.mwe{
	min-width: 500px;
}
#gallerymodal img{
	max-width: 90%;
}
#text{
	text-align: center;
	float: none;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}
.spacep{
	max-width: 100%;
padding:0 10px;
}
#forma{
	float: none;
	width: 100%;
	padding:0 10px	;
}
}































@media(max-width: 384px){
#wrapperinner{
	width: 96%;
}
#ghosted1, #ghosted2 {
    width: 10%!important;
    margin-top: -115px;
}

#menu ul{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
#menu li{
	display: block;
	margin-bottom: 4px;
}
#menu li a{
	font-size: 13px;
}

#content li{
	margin-bottom: 17px;
}
#unlogo{
	float: none;
}
#unlogo h1{
	display: block;
}
#logobox{
	flex-direction: column;
}
#logobox p{
	width: 100%;
	text-align: center!important;
}
#banner{
	margin-top: 1rem;
}


#active:active {
    color: black !important;
    border-bottom: 2px solid rgba(0,0,0,.1);
}

	#wrapper{
		width: 94%;
		margin:1rem auto;
	}
	#menu li{
		margin:0 0.8rem;
	}
    #ghosted1, #ghosted2 {
    width: 3%;
}


#content ol{
	max-width: 100%;
}
footer{
	margin-top: 5px;
text-align: center;

}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 250px;
    perspective: ;
    margin: 0 auto 80px;
}
.flip-card-back{
	padding-top: 5px;
}
.flip-card-back p{
	font-size: 12px;
}
#promoboxes{
	margin: 0;
	margin-top: 20px;
}

#aboutcontent p{
	font-size: 15px;
	margin-bottom: 20px;
}
#aboutcontent strong{
	display: block;
	float: none;
	margin-top: 10px;
}
#aboutcontent li{
	margin-bottom: 7px;
}
#expertnb{
	display: flex;
flex-direction: column;
text-align: center;
margin-top: 5px;
}
#expertimg{
	width: 80%;
	margin: 0 auto 10px;
	height: 400px;
}
#expertimg img{
	height: 400px;
}
#experttext {
    width: 100%;
    float: none;
    padding: 0 5px;
}
#centeredp{
	max-width: 90%;
	margin:15px auto;
}

#diplomas{
	text-align: center;
	margin-bottom: 30px;
}
#ched{
margin: 0 auto;
}

#rightbtng{
	right: 3%;
}
#langattr{
	width: 25vw;
}
#langattr h2:active{
background-color: #351f25;
color: white;
}
#langstick:active{
	background-color: #351f25;
color: white;
}
#content li{
	font-size: 15px;
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

#longpser1,#longpser2{
	font-size: 12px;
}
#longgpser2{
	font-size: 12px;
}
.clongpser2{
	margin-top: 10px!important;
}

#certs img:active {
    -webkit-transform: scale(2) translate(0,-30px);
    -ms-transform: scale(2) translate(0,-30px);
    -o-transform: scale(2) translate(0,-30px);
    transform: scale(2) translate(0,-30px);
}
.close:active {
    opacity: 1;
}
#rightbtng:active {
    background-color: rgba(255,255,255,0.9);
    color: #5c5c5c;
}
#leftbtng:active {
    background-color: rgba(255,255,255,0.9);
    color: #5c5c5c;
}
#btnsubmit:active {
    background-color: #272727;
    color: rgba(255,255,255,1);
}
.unbtnsubmit{
	margin-top: 75px!important;
}
.spacep{
	max-width: 80%;
}
#langattr a{
	margin-left: -30px;	
}
#certs img{
	max-width:25%;
	margin-bottom: 20px;
}
#ched{
	margin-bottom: 30px;
}
#brands{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
#brands img{
	width: 50%;
}
.mwe{
	min-width: 500px;
}
#gallerymodal img{
	max-width: 90%;
}
#text{
	text-align: center;
	float: none;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}
.spacep{
	max-width: 100%;
padding:0 10px;
}
#forma{
	float: none;
	width: 100%;
	padding:0 10px	;
}
.flip-card-back{
	overflow: hidden;
	display: table;
}


}




























@media(max-width: 375px){
#wrapperinner{
	width: 96%;
}
#ghosted1, #ghosted2 {
    width: 10%!important;
    margin-top: -115px;
}

#menu ul{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
#menu li{
	display: block;
	margin-bottom: 4px;
}
#menu li a{
	font-size: 13px;
}

#content li{
	margin-bottom: 17px;
}
#unlogo{
	float: none;
}
#unlogo h1{
	display: block;
}
#logobox{
	flex-direction: column;
}
#logobox p{
	width: 100%;
	text-align: center!important;
}
#banner{
	margin-top: 1rem;
}


#active:active {
    color: black !important;
    border-bottom: 2px solid rgba(0,0,0,.1);
}

	#wrapper{
		width: 94%;
		margin:1rem auto;
	}
	#menu li{
		margin:0 0.8rem;
	}
    #ghosted1, #ghosted2 {
    width: 3%;
}


#content ol{
	max-width: 100%;
}
footer{
	margin-top: 5px;
text-align: center;

}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 250px;
    perspective: ;
    margin: 0 auto 80px;
}
.flip-card-back{
	padding-top: 5px;
}
.flip-card-back p{
	font-size: 12px;
}
#promoboxes{
	margin: 0;
	margin-top: 20px;
}

#aboutcontent p{
	font-size: 15px;
	margin-bottom: 20px;
}
#aboutcontent strong{
	display: block;
	float: none;
	margin-top: 10px;
}
#aboutcontent li{
	margin-bottom: 7px;
}
#expertnb{
	display: flex;
flex-direction: column;
text-align: center;
margin-top: 5px;
}
#expertimg{
	width: 80%;
	margin: 0 auto 10px;
	height: 400px;
}
#expertimg img{
	height: 400px;
}
#experttext {
    width: 100%;
    float: none;
    padding: 0 5px;
}
#centeredp{
	max-width: 90%;
	margin:15px auto;
}

#diplomas{
	text-align: center;
	margin-bottom: 30px;
}
#ched{
margin: 0 auto;
}

#rightbtng{
	right: 3%;
}
#langattr{
	width: 25vw;
}
#langattr h2:active{
background-color: #351f25;
color: white;
}
#langstick:active{
	background-color: #351f25;
color: white;
}
#content li{
	font-size: 15px;
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

#longpser1,#longpser2{
	font-size: 12px;
}
#longgpser2{
	font-size: 12px;
}
.clongpser2{
	margin-top: 10px!important;
}

#certs img:active {
    -webkit-transform: scale(2) translate(0,-30px);
    -ms-transform: scale(2) translate(0,-30px);
    -o-transform: scale(2) translate(0,-30px);
    transform: scale(2) translate(0,-30px);
}
.close:active {
    opacity: 1;
}
#rightbtng:active {
    background-color: rgba(255,255,255,0.9);
    color: #5c5c5c;
}
#leftbtng:active {
    background-color: rgba(255,255,255,0.9);
    color: #5c5c5c;
}
#btnsubmit:active {
    background-color: #272727;
    color: rgba(255,255,255,1);
}
.unbtnsubmit{
	margin-top: 75px!important;
}
.spacep{
	max-width: 80%;
}
#langattr a{
	margin-left: -30px;	
}
#certs img{
	max-width:25%;
	margin-bottom: 20px;
}
#ched{
	margin-bottom: 30px;
}
#brands{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
#brands img{
	width: 50%;
}
.mwe{
	min-width: 500px;
}
#gallerymodal img{
	max-width: 90%;
}
#text{
	text-align: center;
	float: none;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}
.spacep{
	max-width: 100%;
padding:0 10px;
}
#forma{
	float: none;
	width: 100%;
	padding:0 10px	;
}
.flip-card-back{
	overflow: hidden;
	display: table;
}


}




























@media (max-width: 360px){
#wrapperinner{
	width: 96%;
}
#ghosted1, #ghosted2 {
    width: 10%!important;
    margin-top: -115px;
}

#menu ul{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
#menu li{
	display: block;
	margin-bottom: 4px;
}
#menu li a{
	font-size: 13px;
}

#content li{
	margin-bottom: 17px;
}
#unlogo{
	float: none;
}
#unlogo h1{
	display: block;
}
#logobox{
	flex-direction: column;
}
#logobox p{
	width: 100%;
	text-align: center!important;
}
#banner{
	margin-top: 1rem;
}


#active:active {
    color: black !important;
    border-bottom: 2px solid rgba(0,0,0,.1);
}

	#wrapper{
		width: 94%;
		margin:1rem auto;
	}
	#menu li{
		margin:0 0.8rem;
	}
    #ghosted1, #ghosted2 {
    width: 3%;
}


#content ol{
	max-width: 100%;
}
footer{
	margin-top: 5px;
text-align: center;

}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 250px;
    perspective: ;
    margin: 0 auto 95px;
}
.flip-card-back{
	padding-top: 5px;
}
.flip-card-back p{
	font-size: 12px;
}
#promoboxes{
	margin: 0;
	margin-top: 20px;
}

#aboutcontent p{
	font-size: 15px;
	margin-bottom: 20px;
}
#aboutcontent strong{
	display: block;
	float: none;
	margin-top: 10px;
}
#aboutcontent li{
	margin-bottom: 7px;
}
#expertnb{
	display: flex;
flex-direction: column;
text-align: center;
margin-top: 5px;
}
#expertimg{
	width: 80%;
	margin: 0 auto 10px;
	height: 350px;
}
#expertimg img{
	height: 350px;
}
#experttext {
    width: 100%;
    float: none;
    padding: 0 5px;
}
#centeredp{
	max-width: 90%;
	margin:15px auto;
}

#diplomas{
	text-align: center;
	margin-bottom: 30px;
}
#ched{
margin: 0 auto;
}

#rightbtng{
	right: 3%;
}
#langattr{
	width: 25vw;
}
#langattr h2:active{
background-color: #351f25;
color: white;
}
#langstick:active{
	background-color: #351f25;
color: white;
}
#content li{
	font-size: 15px;
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

#longpser1,#longpser2{
	font-size: 12px;
}
#longgpser2{
	font-size: 12px;
}
.clongpser2{
	margin-top: 10px!important;
}

#certs img:active {
    -webkit-transform: scale(2) translate(0,-30px);
    -ms-transform: scale(2) translate(0,-30px);
    -o-transform: scale(2) translate(0,-30px);
    transform: scale(2) translate(0,-30px);
}
.close:active {
    opacity: 1;
}
#rightbtng:active {
    background-color: rgba(255,255,255,0.9);
    color: #5c5c5c;
}
#leftbtng:active {
    background-color: rgba(255,255,255,0.9);
    color: #5c5c5c;
}
#btnsubmit:active {
    background-color: #272727;
    color: rgba(255,255,255,1);
}
.unbtnsubmit{
	margin-top: 75px!important;
}
.spacep{
	max-width: 80%;
}
#langattr a{
	margin-left: -30px;	
}
#certs img{
	max-width:25%;
	margin-bottom: 20px;
}
#ched{
	margin-bottom: 30px;
}
#brands{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
#brands img{
	width: 50%;
}
.mwe{
	min-width: 500px;
}
#gallerymodal img{
	max-width: 90%;
}
#text{
	text-align: center;
	float: none;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}
.spacep{
	max-width: 100%;
padding:0 10px;
}
#forma{
	float: none;
	width: 100%;
	padding:0 10px	;
}
.flip-card-back{
	overflow: hidden;
	display: table;
}

}
